* {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: black;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body{
    height: 200vh;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 25px;
    transition: .5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li:hover {
    color: crimson;
}

#logo{
    width: 150px;
    height: auto;
}

#banner {
    background-image: url(assets/img/bom.jpg_large);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-end;
    padding-right: 10px;
}

.trailer {
    width: 65%;
    display: flex;
    
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.description {
    color: #fff;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%;
}

.button {
    width: 200px;
    height: 60px;
    background-color: crimson;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 20px;
    justify-content: center;
    font-weight: bold;
    align-items: center;
}

.button:hover {
    background-color: #fff;
    color: black;
}

.actor-cards-container { 
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url(https://i.pinimg.com/564x/80/9a/55/809a55034cf8054060cd07f3c36f2d9a.jpg);
}

.banner-2 {
    background-image: url(https://i.pinimg.com/564x/74/6c/bc/746cbc3388c91630d095a811a49df1e2.jpg);
}

.banner-3 {
    background-image: url(https://i.pinimg.com/736x/65/1c/c8/651cc8cf1ebac2a83861b4ad9242eaa5.jpg);
}

footer{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px){
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 40%;
    }
    
    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    
    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .discription {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}