*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    text-decoration: none;
}
header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 25px;
    transition: .5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li:hover {
    color: crimson;
}

#logo{
    width: 150px;
    height: auto;
}
.container {
    width: 90%;
    margin: 20px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    background-color: crimson;
    color: white;
}

.comment {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.comment-content {
    flex: 1;
}

.author {
    font-weight: bold;
    color: #333;
}

.date {
    font-size: 0.8em;
    color: #666;
}

.text {
    margin-top: 10px;
    color: black;
}

footer{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px){
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    .text{
        display: block;
        
    }
}