* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 45px;
  background-color: rgb(218, 4, 47);
  width: 500px;
}

h2{
  color: aliceblue;
  font-size: 2.5rem;
  margin: 2rem;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

label{
  color: aliceblue;
  font-size: 17px;
  margin-bottom: 4px;
}

input{ 
  padding: 15px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  font-size: 15px;
  transition: 0.5s;
}

input:focus{
  border-radius: 16px;
}

textarea{
  padding: 10px;
  outline: none;
  font-size: 15px;
  margin-bottom: 30px;
  transition: all 0.5s;
}

textarea:focus{
  border-radius: 16px;
}

button{
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  border: 2px solid white;
  color: aliceblue;
  transition: all 1s;
  margin-bottom: 20px;
}

button:hover{
  background-color: aliceblue;
  color: black;
  border-radius: 16px;
}

.Main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;
  color: aliceblue;
}

.container{
  height: 350px;
  width:700px;
}

h1{
  font-size: 33px;
  margin-bottom: 30px;
}

p{
  font-size: 25px;
  margin-bottom: 50px;
}

.btn{
  padding: 15px 55px;
  background: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.5s;
  border: 2px solid white;
}

.btn:hover{
  border-radius: 16px;
}

@media(max-width: 768px){
  .footer-navigation {
      display: block;
  }

  nav {
      display: none;
  }
  
  .button {
      width: 100%;
      margin-top: 30px;
  }

}




